---

---

<div class="graph">
    <div class="node-1">1</div>
    <div class="node-2">2</div>
    <div class="node-3">3</div>
    <div class="node-4">4</div>
    <div class="node-5">5</div>
    <div class="node-6">6</div>
    <div class="node-7">7</div>
    <div class="node-8">8</div>
    <div class="node-9">9</div>
    <div class="node-10">10</div>
</div>

<script>
    
</script>

<style>
    .graph {
        border: 1px solid black;
        position: relative;
        height: 100%;
    }

    [class^='node'] {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
    }

    .node-1 {
        top: 30px;
    }

    .node-2 {
        top: 50%;
    }
</style>
