---
const { msg } = Astro.props;
---

<div class="info">
    {msg}
</div>

<style>
    .info {
        margin-bottom: 2rem;
        border: 1px solid black;
        padding: 0.5rem;
        max-width: 50ch;
    }
</style>
