---
const { title } = Astro.props;
import '../styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="viewport"
            content="width=device-width />
    <meta name="
            generator"
            content={Astro.generator}
        />
        <title>DSA Solutions</title>
    </head>

    <body>
        <h1>{title}</h1>

        <div class=`main-container ${title.toLowerCase()}`>
            <slot />
        </div>
    </body>

    <style>
        @import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

        :root {
            --fs-mobile-title: 3rem;
        }

        body {
            font-family: 'Inter', sans-serif;
        }

        h1 {
            width: max-content;
            margin: 0 auto;
        }

        .main-container {
            margin: 3rem 0;
        }

        /* MOBILE */
        @media screen and (max-width: 636px) {
            h1 {
                font-size: var(--fs-mobile-title);
            }
        }
    </style>
</html>
